*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: lightgray;
}

h1{
  display: flex;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 50px;
  color: ghostwhite;
}

div.title-picture{
  border: 2px solid red;
  background-image: url("nasa_pic.jpg");
  background-repeat:no-repeat;
  background-position: center;
  min-height: 75%;
  margin: 0px;
  display: flex;
  justify-content: center;
}

div.content{
  border: 2px solid blue;
  font-size: large;
  color: black;
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}




