*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: mediumvioletred;
}

div.title-picture{
  background-image: ;
  display: flex;
  justify-content: center;
}

div.bottom-text{
  border-color: ghostwhite;
  display: flex;
  justify-content: center;
}


h1{
  display: flex;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  color: ghostwhite;
}

